<h1>Listing billings</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Month search</th>
      <th>Year search</th>
      <th>Month charge</th>
      <th>Payment</th>
      <th>Month outstanding</th>
      <th>Total owing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.client %></td>
        <td><%= billing.month_search %></td>
        <td><%= billing.year_search %></td>
        <td><%= billing.month_charge %></td>
        <td><%= billing.payment %></td>
        <td><%= billing.month_outstanding %></td>
        <td><%= billing.total_owing %></td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_billing_path %>
